{% extends 'layout.twig' %}

{% block body %}
	<div class="container shadow-lg" id="home">
		<div class="d-flex flex-column align-items-center justify-content-center" style="height:80vh;">

			<h1 class="text-white shadow-md">Welcome to Task Manager</h1>
			<a href="tasks/add" class="btn btn-success m-3">Add new task</a>
		</div>
	</div>
{% endblock %}
