{% extends 'layout.twig' %}

{% block body %}

	<div class="container" id="taskList" style="height:80vh;">
		{% if (tasks) %}
			<div class="d-flex flex-wrap align-items-center justify-content-start pt-3">
				{% for task in tasks  %}
					<div class="card mx-3 my-2 col-6 col-md-2" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{ task.title }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							<p class="card-text">{{ task.description }}</p>
							<a href="/tasks/edit/{{ task.id }}" class="card-link text-purple">Edit</a>
							<a href="/tasks/delete/{{ task.id }}" class="card-link text-purple opacity-0.7">Delete</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p>There is no task yet</p>
		{% endif %}
	</div>

{% endblock %}
